#form-game_v2 .typeahead__container.backdrop {
    position: fixed !important;
    width: 80%;
    left: 10%;
    top: 50px;
}
 
#form-game_v2 .typeahead__container.backdrop .typeahead__query input {
    font-size: 3rem;
    height: auto;
    color: #333;
}
 
#form-game_v2 .typeahead__container.backdrop .typeahead__button {
    display: none;
}
 
#form-game_v2 li.typeahead__group {
    padding: 10px 10px 0;
}
 
#form-game_v2 li.typeahead__item {
    display: inline-block;
    font-size: 0;
    border: 0;
    position: relative;
    margin: 5px;
}
 
#form-game_v2 li.typeahead__item span.title {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-transform: capitalize;
    border-radius: 0;
}
 
#form-game_v2 li.typeahead__item:hover span.title,
#form-game_v2 li.typeahead__item.active span.title {
    display: block;
}
 
#form-game_v2 li.typeahead__item span {
    font-size: 1rem;
    background: #fff;
    padding: 2px 5px;
    border-radius: 10px;
}
 
#form-game_v2 .typeahead__list {
    background: #fff;
    overflow-x: hidden;
    overflow-y: auto;
}
 
#form-game_v2 .typeahead__list a {
    padding: 1px;
}
 
#form-game_v2 .typeahead__list .typeahead__item a:hover {
    background: transparent;
}
 
#form-game_v2 .typeahead__list .typeahead__item a img {
    border: solid 1px transparent;
    width: 178px;
}
 
#form-game_v2 .typeahead__list .typeahead__item a:hover img,
#form-game_v2 .typeahead__list .typeahead__item.active a img {
    border-color: #4D90FE;
}
 
#form-game_v2 .typeahead__list .typeahead__item a:hover span {
    opacity: .8;
}
 
#form-game_v2 .typeahead__group a {
    background: transparent;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #ccc;
}
 
#form-game_v2 .ui.label {
    text-transform: capitalize;
}
